@import "variable";

.button {
    border-radius: 10px;
    display: inline-block;
    width: 155px;
    height: 37px;
    text-align: center;
    line-height: 33px;

    &_bg-color_box-shadow {
        background: $button_bg-color;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    }

    &__txt_size_color {
        color: white;
        font-size: 14px;
        font-weight: 700;
    }
}