// ハンバーガーメニュー

// <!-- クリック前のメニューアイコン -->
.nav_toggle {
    display: block;
    position: relative;
    z-index: 100;
// <!-- アイコンのサイズ -->
    width: 1.75rem;
// <!-- heightをpx指定する場合、偶数にしないと3本のバーガーが等間隔にならない -->
    height: 1.5rem;
}
.nav_toggle i {
    display: block;
    width: 100%;
// <!-- バーガー１本の太さ -->
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
// <!-- バーガーの丸み -->
	border-radius: 2px;
}
// <!-- バーガー1本のポジション -->
.nav_toggle i:nth-child(1) {
    top: 0;
}
.nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}
.nav_toggle i:nth-child(3) {
    bottom: 0;
}

// <!-- クリック後のメニューアイコン -->
.nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
    background-color: #fff;
}
.nav_toggle.show i:nth-child(2) {
    opacity: 0;
    background-color: #fff
}
.nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
    background-color: #fff
}


// <!-- クリック前のメニュー -->
.nav {
    position: fixed;
    top: 0;
    // left: 0;
    right: 0;
    // bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

// <!-- クリック後のメニュー -->
.nav.show {
    opacity: 1;
    visibility: visible;
}


// メニューデザイン

.nav {
    width: 300px;
    background-color: rgba(9,1,139,0.8);
    height: 100%;
}

.nav_menu_ul {
    text-align: center;
    padding-top: 100px;
}

.nav_menu_li {
    padding-bottom: 30px;
    a {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
}