@charset "UTF-8";

html, body, figure,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div, nav {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}